<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Clientes</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/customer.css">
</head>
<body>
  <a href="/home">
    <img class="img" src="/assets/images/volta.png" alt="Logo">
  </a>
  <h1 class="title">Inscrição em Evento</h1>
  <form action="/customer" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required><br>
    <label for="event">Evento:</label>
    <select id="event" name="event">
      <% @events.each_with_index do |event, index| %>
        <option class="options" value="<%= index %>"><%= event.name %> - <%= event.date %></option>
      <% end %>
    </select><br>
    <label for="priority">Tem convênio:</label>
    <input class="priority" type="checkbox" id="priority" name="priority"><br>
    <input class="button" type="submit" value="Inscrever-se">
  </form>
</body>
</html>
