<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fila de Clientes</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/queue.css">
</head>
<body>
  <a href="/home">
    <img class="img" src="/assets/images/volta.png" alt="Logo">
  </a>
  <h1 class="title">Fila de Clientes</h1
</body>
</html>
