<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Eventos</title>
</head>
<body>
  <h1>Cadastro de Eventos</h1>
  <form action="/event" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="date">Data:</label>
    <input type="text" id="date" name="date" required><br>
    <input type="submit" value="Adicionar Evento">
  </form>
  <a href="/">Voltar</a>
</body>
</html>
