<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Vendas de Ingressos</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Sistema de venda <br>de ingressos</h1>
    <h2 class="subtitle">O que deseja fazer?</h2>
    <img class="img" src="/assets/images/amig.png" alt="Logo">
    <nav class="nav">
      <div class="list">
        <a class="link" href="/event">Cadastrar de Eventos</a>
        <a class="link" href="/customer">Cadastrar de Clientes</a>
        <a class="link" href="/queue">Fila de Clientes</a>
      </div>
    </nav>
  </div>
</body>
</html>

<style>

</style>
