<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Eventos</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/info.css">
</head>
<body>
  <div class="card">
    <div>
      <a href="/info">
        <img class="card-img" src="/assets/images/art.png">
      </a>
    </div>
    <a href="/participante">
        <img class="img" src="/assets/images/seta2.png" alt="Logo">
    </a>
    <div>
      <img src="/assets/images/like2.png"
    </div>
    <div class="card-content">
      <p class="title">Titulo</p>
      <p class="data">Data</p>
      <p class="local">Local</p>
    </div>
  </div>
    
</body>
</html>
