<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fila de Clientes</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/participante.css">
</head>
<body>
  <a href="/">
    <img class="img" src="/assets/images/volta.png" alt="Logo">
  </a>
  <div>
    <img class="filtro" src="/assets/images/filtro.png"
  </div>

  <div class="card">
    <div>
      <a href="/info">
        <img class="card-img" src="/assets/images/art.png">
      </a>
    </div>
    <div class="card-content">
      <p>Evento</p>
      <p>Evento</p>
      <p>Local</p>
    </div>
    <div class="like">
      <img class="like-img" src="/assets/images/like.png">
    </div>
  </div>

  <div class="card">
    <div>
      <img class="card-img" src="/assets/images/art.png">
    </div>
    <div class="card-content">
      <p>Evento</p>
      <p>Evento</p>
      <p>Local</p>
    </div>
    <div class="like">
      <img class="like-img" src="/assets/images/like.png">
    </div>
  </div>

  <div class="card">
    <div>
      <img class="card-img" src="/assets/images/art.png">
    </div>
    <div class="card-content">
      <p>Evento</p>
      <p>Evento</p>
      <p>Local</p>
    </div>
    <div class="like">
      <img class="like-img" src="/assets/images/like.png">
    </div>
  </div>
</body>
</html>
