<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fila de Clientes</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/queue.css">
</head>
<body>
  <a href="/home">
    <img class="img" src="/assets/images/volta.png" alt="Logo">
  </a>
  <h1 class="title">Fila de Clientes</h1>      
  
  <% @events.each_with_index do |event, index| %>
    <table>
      <thead>
        <tr>
          <th class="part">Participantes</th>
          <th class="event">Evento</th>
          <th class="data">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table>
              <tbody>
                <% event.queue.to_array.each do |participant| %>
                  <tr>
                    <td class="part"><%= participant %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
          <td class="event"><%= event.name %></td>
          <td class="data"><%= event.date %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</body>
</html>
