<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Vendas de Ingressos</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>
<body>
  <div class="container">
    <h1>Sistema de venda <br>de ingressos</h1>
    <h2>Você é?</h2>
    <img class="img" src="/assets/images/amig.png" alt="Logo">
    <nav class="nav">
      <div class="list">
        <a class="link" href="/home">Organizador</a>
        <a class="link" href="/participante">Participante</a>
      </div>
    </nav>
  </div>
</body>
</html>