body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center; 
    min-height: 100vh;
    margin: 2rem;
    gap: 4rem
}

.img {
    width: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%
}

.title {
    position: relative;
    font-size: 28px;
}

.capa img {
    width: 14rem;
    border-radius: 15px
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-size: 20px;
}

input {
    width: 60%;
    font-size: 14px;
    height: 2rem;
    border: none;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(155, 155, 155);
}

input:focus {
    border-bottom: rgb(103, 9, 217); 
    box-shadow: 0 0 5px rgb(131, 20, 205); 
    outline: none; 
}

.button {
    width: 60%;
    height: 2rem;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


select {
    width: 60%;
    font-size: 16px;
    height: 2rem;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid rgb(155, 155, 155);
}
